.body-heading {
	text-align: center;
	font-size: 3em;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 10vh;
}

.semi-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.body-illus-image {
	width: 300px;
	height: 50vh;
}

.list-items {
	margin-bottom: 30px;
}

.market-points {
	list-style-type: circle;
}

.market-point {
	line-height: 2.4em;
	font-size: 1.2em;
}

.division {
	background-color: black;
}
